/* styles.css */

/* Estilos globais */
body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    font-size: 16px; /* Mantém a fonte padrão */
}

h1 {
    color: #4CAF50;
    font-size: 24px; /* Aumenta o tamanho do cabeçalho */
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Estilo dos links */
a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}

/* Estilo do formulário */
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* Estilo do botão de voltar */
.back-button {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #f44336;
    padding: 10px 15px;
    border-radius: 4px;
}

.back-button:hover {
    background-color: #e53935;
}
