<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Ticket</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1 th:text="${ticket.id == null ? 'Novo Ticket' : 'Editar Ticket'}"></h1>
    <a th:href="@{ / }" class="back-button">Página Inicial</a> <!-- Link para a página inicial -->
    <form th:action="@{/tickets}" th:object="${ticket}" method="post">
        <label for="title">Título:</label>
        <input type="text" id="title" th:field="*{title}" required><br>
        <label for="description">Descrição:</label>
        <textarea id="description" th:field="*{description}" required></textarea><br>
        <label for="status">Status:</label>
        <input type="text" id="status" th:field="*{status}" required><br>
        <button type="submit">Salvar</button>
    </form>
    <a th:href="@{/tickets}" class="back-button">Voltar</a>
</body>
</html>
